<div class="background">
<!--   <img src="assets/images/navbig.png"  class="img-fluid"  alt="Responsive image"> -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/genealogie']">Généalogie</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link"  [routerLink]="['/rois-de-france']">Rois de France</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/funfacts']">Fun Facts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['#']">Quizz</a>
      </li>
  </ul>
</div>