<p>louis14 works!</p>
<div class="portrait">
<img src="assets/images/LouisXIV.jpg"  class="img-fluid"  alt="Responsive image">
</div>
<div>
    <span>En bref</span>
</div>
<div>
    <span>Surnoms</span>
</div>
<div>
    <span>Religion</span>
</div>
<div>
    <span>Règne</span>
</div>
<div>
    <span>Décès</span>
</div>
<div>
    <span>Epouse</span>
</div>
<div>
    <span>Vie sentimentale</span>
</div>
<div>
    <span>Passions</span>
</div>
<div>
    <span>Plat favori</span>
</div>
<div>
    <span>vis ma vie : Une journée type avec le Roi</span>
</div>
