<div class="background">

    <div class="body">
        <!--    <div class="container"> -->
        <h1>Louis XIV</h1>
        <div class="intro">
            <div class="portrait">
                <img src="assets/images/LouisXIV.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="infos">
                <p class="bref">En bref :</p>
                <ul>
                    <li>1643 – 1715</li>
                    <li>Surnomé : Louis le Grand, Le Roi Soleil</li>
                    <li>Religion : Catholique</li>
                    <li>Parents : Louis XIII & Anne d'Autriche</li>
                    <li>Reine : Marie Thérèse d’Autriche </li>
                    <li>Plus long règne de l’histoire de France – 72 ans </li>
                    <li>Monarchie absolue</li>
                    <li>Surmonte la Fronde et apaise le peuple </li>
                    <li>Erige la France au rang de 1ere puissance européenne </li>
                    <li>Construction du Château de Versailles</li>
                    <li>Epousera sa Maîtresse à la mort de sa femme</li>
                </ul>
            </div>
        </div>
        <div class="contenu">
            <div class="topic">
                <h5>Famille</h5>
                <p>
                    Fils ainé de Louis XIII et de Anne d’Autrice, il est baptisé Louis Dieu donné : ça coinçait quelque
                    peur entre le Roi et la Reine, qui n’arrivaient pas à concevoir…
                    Un jour alors que le Roi Louis XIII est en déplacement à Paris, un violent orage éclate et contraint
                    les époux royaux à partager le même appartement, coup de pouce du destin et 9 mois plus tard, voici
                    notre Roi Soleil !
                    <br>
                    Anne d’Autriche donnera naissance à un deuxième enfant, un garçon qu’elle prendra bien soin
                    d’habiller en fille tout au long de son enfance, de peur qu’il ne fasse de l’ombre au petit roi… On
                    comprends un peu mieux le très excentrique Philippe d’Orléans dit « Monsieur »
                </p>
            </div>
            <div class="topic">
                <h5>Règne</h5>
                <p>A la mort de son père, Louis XIV devient roi, il a alors 4 ans. 13. Sa mère Anne d’Autriche assure la
                    régence avec le cardinal Mazarin.
                    En 1948 la fronde éclate (révolution du peuple qui est submergé par les taxes), c’est un grand choc
                    pour le petit Roi.
                    Il est contraint de fuir Paris pour sa propre sécurité. </p>
                <p>Son éducation est faite par Mazarin, qu’il considère un peu comme un père, Mazarin en fait une
                    redoutable « machine à régner » (citer source : secret d’histoire).
                    Enfant il dira qu’il ne sera pas « Jamais je ne serai Louis le Fainéant »</p>
                <br>
                <p>7 septembre 1951 : Louis décide d’assoir son pouvoir et de régner seul, avec ses ministres (mais sans
                    premier ministre).
                    Il envoi définitivement paitre sa mère (qui prend beaucoup de place et un peu trop le pouvoir…)</p>
                <br>

                <p>7 juin 1754 il est sacré roi(couronnement), en la cathédrale de Reins</p>
                <p>Louis XIV gouverne en tant que monarque absolue sur terre et dans les cieux, il est considéré comme
                    un envoyé de dieu, sur terre pour guider les hommes.</p>
                <br>

                <p>Il remporte de nombreuses guerres et érige la France au rang de première puissance Européenne.
                    Il fait construire l’Hôtel des Invalides, pour offrir assistance aux soldats blessés pendant les
                    guerres.</p>
                <br>

                <p>Très sensible aux arts, il propulse diverses disciplines au premier rang : comme la musique, la
                    danse, l’architecture … Il fait construire le château de Versailles où il installe sa cour, et qui
                    deviendra la résidence officielle des rois.
                    (on ne s’attardera pas sur le fait qu’il a un peu pompé sur le châteaux de Vaux le Vicomte de
                    Nicolas fouquet)</p>

                <p>Toute la cour vient habiter à Versailles, mais ça devient vite le bazar, il met en place l’étiquette
                    : règles très précises sur la façon dont il est convenable de se comporter.
                    On lui doit la création de Jardins extraordinaires, ainsi que de potager et la culture de nouveaux
                    légumes.</p>
                <p>Autre invention : La Ménagerie ou le premier zoo au monde. C’est un pavillon abritant divers
                    d’animaux exotiques, venus des 4 coins du monde</p>
                <br>
                <p>Tout ca est bien jolie MAIS, il n’a pas fait que des trucs cool : on se souviendra notamment des
                    guerres de religions, des persécutions religieuses, et de la révocation de l’édit de nantes, en
                    1685, instauré par son grand père henri IV.
                    Pas mal influencé par sa maitresse Madame de Maitenon, Louis XIV souhaite réunir son peuple dans une
                    seule et unique religion : Le catholicisme. Il fait interdit le culte protestant, ceux ci ne sont
                    plus libres de leur religion et doivent se convertir. Ceux qui refusent sont contraint fuir, et se
                    cacher s’ils ne veulent pas être emprisonné voir tués.</p>

                <p> Vidéo qui résume très bien cette sombre période <a
                        href="https://www.youtube.com/watch?v=v5Byd_22FkU">video </a></p>
                <br>
                Ce sera le plus long règne de France : 72 ans ! il verra beaucoup de ses descendant mourir, son
                héritier sera son arrière petit de fils 5 ans : Louis XV

            </div>

            <div class="topic">
                <h5>Décès</h5>
                <p>1/12/1715 : Le Roi Soleil s’éteint à Versailles, Après avoir demandé à madame de Maintenon de quitter
                    le château.
                    Il meurt de façon naturelle, faut dire que 76 ans pour l’époque c’est un record.
                    <br>
                    Il a survécut à de nombreuses maladies de l’époque, et comme c’était un chaud lapin ce n’est pas un
                    secret : il a choppé de nombreuses « bonnes galanteries » (la façon polie de dire MST ).
                </p>
            </div>

            <div class="topic">
                <h5>Caractère</h5>
                <p> C’est un roi qui a beaucoup de prestance et de charisme naturel. <br>
                    Mégalomane et ambitieux, c’est un acharné de travail, qui fera tout pour s’imposer comme le roi des
                    rois, et laisser sa trace dans l’histoire.
                    <br> Roi de la monarchie absolue, personne ne lui tient tête, il règne sur tout, jusque sur la façon
                    dont ses sujets doivent se comporter (l’étiquette)
                    <br>Son ego surdimensionné doit être ménagé et il a bien du mal à tolérer quelqu’un qui pourrait lui
                    faire de l’ombre, aux yeux de sa cours
                    <br>Très passionné dans ses relations, il aime les femmes et se laissera parfois un peu trop
                    influencer par ses maitresses.
                    <br>Chose peu commune pour l’époque, Louis XIV a beaucoup d’affection pour ses enfants, surtout
                    pour ses batards qu’il légitimera presque tous, en leur octroyant le statut d’enfant de France.
                </p>
            </div>

            <div class="topic">
                <h5>Passions</h5>
                <p>
                    Louis aime montrer au monde sa grandeur, l’Œuvre de sa vie c’est bien sur le château de Versailles : avec sa galerie des glaces et ses jardins avec fontaines. Il s’entoure des meilleurs ingénieurs et artistes pour concrétiser ses rêves (littéralement : le type a vu la galerie des glaces dans ses rêves) 
                    <br>Il aime éblouir et en mettre plein la vue !
                    <br>La danse : très bon danseur, il aimait inventer des chorégraphie, que ses gens de la cours devaient apprendre pour pouvoir danser avec lui lors des fêtes.
                    <br>La guerre : très bon stratège il a gagné de nombreuses guerres
                    </p>
            </div>

            <div class="topic">
                <h5>Epouse</h5>
                <p>1960 Marie Thérèse d’Autriche (Infante d’Espagne) Mariage arrangé pour sceller la paix entre la
                    France et l’Espagne. </p>
                <p>1963 Madame de Maintenon : à la mort de la reine il bafoue lois et religion, pour épouser en secret
                    sa maitresse. </p>

            </div>

            <div class="topic">
                <h5>Vie sentimentale</h5>
                <p>Ado, il est tellement pris par son éducation et sa soif d’apprendre à gouverner, que clairement les
                    meufs il s’en cogne.
                    <br>
                    Sa mère Anne d’Autriche, ça l’inquiète un peu. Quand Louis a 15 ans elle charge sa femme de chambre
                    surnommé Cateau-la-borgnesse(https://fr.wikipedia.org/wiki/Catherine_Bellier) de déniaiser son fils.
                    <br>
                    Louis 14, pas traumatisé pour un sous par cette femme borgne de 40 ans, prend gout à cette
                    éducation sexuelle et c’est le début d’une longue ribambelle de maitresses
                </p>
                <br>
                <p><span class="maitresse">Marie Mancini </span> : une des nièces du cardinal Mazarin, première amour du roi, c’est une
                    relation platonique et pure. Première peine de cœur, quand réalise que son statut de roi n’est pas
                    compatible avec cette amourette ; c’est le cœur lourd qu’il doit renoncer à son amour, pour le
                    mariage avec la reine.
                    Le jeune roi se fait la promesse de ne jamais plus se laisser toucher le cœur par une femme, et de
                    toujours séparer son statut de roi et sa vie sentimentale (lol)
                </p>
                <br>
                <p><span class="maitresse"><a href="#">Louise de Lavalliere</a></span> : Louis fricotte avec sa cousine Henriette d’Angleterre (qui est
                    aussi la femme de son frère), et forcement ce n’est pas très bien vu par la cour, par sa mère et par
                    sa femme la reine.
                    Henriette à l’idée d’utiliser sa dame de compagnie Louise de Lavalliere comme paravent pour faire
                    taire les ragots sur sa relation avec le frère de son mari.
                    Mais notre roi tombe sous le charme de cette jeune fille délicate, très pieuse, avec un léger
                    boitillement.
                </p>
                <br>
                <p>Pour éviter le scandale et la colère des religieux la liaison est tenue secrète ; Louis a surtout
                    bien peur de sa daronne, et quand elle meurt en 1666 il se monter publiquement avec sa maitresse.
                    Ils auront 6 enfants dont seulement 2 survivent
                </p>
                <br>
                <p>Louise est sincèrement amoureuse du roi, et elle vit très mal le fait de voir le roi avec d’autres
                    femmes. Notamment la Marquise de Montespan avec qui le roi s’affiche publiquement et en fait sa
                    nouvelle favorite. Louise est reléguée au second rang…
                    Prise de remords pour cette vie de faste et de pêchers elle implore le roi de la laisser quitter la
                    cour, il refuse plusieurs fois.
                    De plus en plus tiraillée par ses pêchers, elle va trouver la reine pour s’excuser et expier ses
                    fautes. La détresse de Louise est perçue par la reine qui la pardonne et intervient auprès du roi
                    pour la laisser partir de la cour.
                    Louise finira sa vie dans un couvent, où la reine viendra lui rendre visite.
                </p>
<br>
                <p><span class="maitresse"><a href="#">Madame de Montespan</a> </span>Athénaïs de Montespan : Le roi la rencontre à la cour et
                    tombe sous le charme de sa beauté (c’est un canon de l’époque) mais surtout de son éprit vif,
                    piquant ,cultivé (l’esprit Mortemart).
                    Soyons franc : c’était une peste, très sarcastique elle trouvait toujours le bon mot pour
                    ridiculiser les uns, moquer les autres, dans le seul but d’amuser le roi.
                    Elle est tellement crainte que les courtisant évitent de passer sous ses fenêtres quand elle est
                    avec le roi, de peur d’être cible de ses railleries.
                </p>
                <br>
                <p> Louis affiche publiquement sa nouvelle favorite, mais celle-ci est mariée. Autant dire que le
                    scandale n’est pas loin : relation adultère avec une femme mariée… ça fait désordre.
                    Pour couronner le tout le compte de Montespan est un sacré personnage :
                    Il est amoureux de sa femme et bien évidemment furieux : il peint son carrosse en noire et fait
                    monter des grandes cornes de cerfs pour signifier a tous son statut de cocu.
                    Il a ensuite une autre idée pour nuire au roi : il va trainer dans tous les bordels des plus
                    bas-fonds. Son plan ? simplement chopper une maladie et la transmettre à sa femme, qui la refilera
                    inévitablement au roi …
                    Le roi finira par exiler le zigoto . </p>
                <p>Athénaïs règne sur le cœur du roi pendant près de 10 ans, ils auront 9 enfants. Le roi est insatiable
                    sexuellement, La Montespan épuisée par les couches, et prends bcp de poids qu’elle n’arrive pas à
                    perdre, sa beauté se fane. On dit qu’elle ressemble à une barrique…
                </p>
                <br>
                <p>Ayant très peu la fibre maternelle,elle fait venir à la cour sa vieille amie la veuve Scaron (future
                    madame de Maintenon) pour s’occuper de l’éducation de ses enfants.
                    La veuve est dévouée à la tâche, si bien que Les enfants qui ne connaissent quasi pas leur mère,
                    considère leur gouvernante comme tel
                    Un jour le roi vient rendre visite à ses enfants batard qu’il aime beaucoup et il remarque toute
                    l’attention maternelle dont la veuve fait preuve, il confie alors « Comme elle sait ben aimer, il y
                    aurai du plaisir à être aimé d’elle » oups …
                    <br>
                    Voyant son emprise sur le roi diminuée, Madame de Montespan devient de plus en plus difficile à
                    vivre, elle est prête à tout pour conserver sa place de favorite. Elle est mêlée à plusieurs
                    scandales dont l’affaire des poisons sur lequel le Roi décide de fermer les yeux mais qui signe le
                    début de sa disgrâce.
                </p>
                <br>
                <p>Elle restera à la cour, ne pouvant se résigner s’éloigner du roi. </p>

                <br>
                <p><span class="maitresse"><a href="#">Madame de Maintenon</a></span> Françoise d'Aubigné : De petite naissance et pauvre , elle se marie très jeune vieux
                    poète handicapé qui lui transmet une grande culture. À 25 ans elle est veuve et criblée de dettes.
                    Elle accepte l’invitation à la cour de son ami Madame de Montespan qui lui propose un poste de
                    gouvernante pour faire l’éducation de ses enfants royaux.
                </p>
                <br>
                <p>D’abord gouvernante, elle s’occupe des petits batards comme s’ils étaient les siens : avec justesse
                    et bienveillance.
                    Dans un premier temps, le roi ne semble pas particulièrement apprécier la veuve.
                    <br>
                    Un évènement tragique les rapprochera : La fille ainée du roi meurt, et la veuve est terrassée par
                    le chagrin, bien plus que ne l’est madame de Montespan.
                    Louis ému par son chagrin commence à s’attacher à cette femme qui lui inspire confiance et
                    stabilité.
                    <br>
                    Elle devient vite l’amie et confidente du Roi, et sous l’influence de cette femme très pieuse, il va
                    se rapprocher de la religion, elle incite le roi à visiter plus souvent sa femme, et elle va
                    contribuer une réconciliation avec la reine.
                    Marie Thérèse confie même que son mari n’a jamais été aussi attentionnée
                </p>
                <br>
                <p>A la mort de la reine, Madame de Maintenon qui s’y refusait jusqu’à maintenant accepte enfin de
                    devenir la maitresse du roi. </p>
                <br>
                <p>A 40 ans Louis 14 fait un mariage d’amour, et épouse en secret sa maitresse, de 12 ans son ainé ; à
                    l’encontre de toutes les lois en vigueur. Ce sera un scandale : le roi ne peut pas épouser une
                    roturière ! hé ouais mais c’est le roi, il fait ce qu’il veut (elle ne devient pas reine mais sa
                    proximité avec le roi lui donne le bras long)
                    Elle remet le roi sur le chemin de la religion, et profite de sa position pour assoir le
                    Catholicisme, et remettre de l’ordre et de la vertu dans le fast de la cour de Versailles ( fini le
                    bordel) mot d’ordre : dévotion et austérité
                    Elle influence le roi pour instaurer l’édit de fontainebleau. (révocation de l’édit de Nantes)
                    Elle mourra 4 ans après le roi.
                </p>
            </div>

            <div class="topic">
                <h5>Fun Facts</h5>
Plat préféré : les petits pois. 
<br>Pour ménager l’égo du roi et le pouvoir du petit roi, sa mère habillait son frère en fille durant toute leur enfance.
<br>Sa mère a payé sa gouvernante borgne pour déniaiser son fils
<br>Enfant il dira "je ne serai jamais LOuis le Fénéant"
<br>Il a pompé tout le chateau de versailles sur le chateau de Vaux Le Vicompte de Nicolas Fouquet

            </div>
<!--             <div>
                <h5>vis ma vie : Une journée type avec le Roi</h5>
            </div> -->
        </div>
    </div>
    <!-- </div> -->
</div>