h2{
    text-align: center;
    margin: 2px;
    font-family: lustria;
    padding: 5px;
}

.list-group-item{
    text-align: center;
}

.nav-link{
    text-align: center;
}

 .container{
        background-color: aquamarine;
}

