<h2>Quoi de neuf chez la Monarchie ? </h2>
<div class="container">
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Du coté des Mérovingiens</a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Childéric Ier</li>
        <li class="list-group-item">Clovis Ier</li>
        <li class="list-group-item">Clothaire Ier</li>
        <li class="list-group-item">Chilpéric Ier</li>
        <li class="list-group-item">Dagobert Ier</li>
        <li class="list-group-item">Clovis II</li>
        <li class="list-group-item">Childéric II</li>
        <li class="list-group-item">Dagobert III</li>
        <li class="list-group-item">Chilpéric II</li>
        <li class="list-group-item">Thierry IV</li>
        <li class="list-group-item">Childéric III</li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Passons voir les Carolingiens</a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pépin le Bref</li>
        <li class="list-group-item">Charlemagne</li>
        <li class="list-group-item">Louis Ier le Pieux</li>
        <li class="list-group-item">Charles II le Chauve</li>
        <li class="list-group-item">Louis II le Bègue</li>
        <li class="list-group-item">Louis III</li>
        <li class="list-group-item">Carloman</li>
        <li class="list-group-item">Charles II le Gros</li>
        <li class="list-group-item">Eudes</li>
        <li class="list-group-item">Charles III le Simple</li>
        <li class="list-group-item">Robert Ier</li>
        <li class="list-group-item">Raoul</li>
        <li class="list-group-item">Louis IV d'Outremer</li>
        <li class="list-group-item">Lothaire</li>
        <li class="list-group-item">Louis V</li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Coucou les Capétiens</a>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Hugues Capet</li>
        <li class="list-group-item">Robert II le Pieux</li>
        <li class="list-group-item">Henri Ier</li>
        <li class="list-group-item">Philippe Ier</li>
        <li class="list-group-item">Louis VI le Gros</li>
        <li class="list-group-item">Louis VII le Jeune</li>
        <li class="list-group-item">Philippe II Auguste</li>
        <li class="list-group-item">Louis VIII le Lion</li>
        <li class="list-group-item">Louis IX Saint Louis</li>
        <li class="list-group-item">Philippe III le Hardi</li>
        <li class="list-group-item">Philippe IV le Bel</li>
        <li class="list-group-item">Louis X le Hutin</li>
        <li class="list-group-item">Jean Ier le Posthume</li>
        <li class="list-group-item">Philippe V le Long</li>
        <li class="list-group-item">Charles IV le Bel</li>
      </ul>
    </li>
    <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" href="#">Ces chèrs Valoi</a>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Philippe VI</li>
        <li class="list-group-item">Jean II le Bon</li>
        <li class="list-group-item">Charles V le Sage</li>
        <li class="list-group-item">Charles VI le Fol</li>
        <li class="list-group-item">Charles VII le Victorieux</li>
        <li class="list-group-item">Louis XI</li>
        <li class="list-group-item">Charles VIII</li>
        <li class="list-group-item">Louis XII</li>
        <li class="list-group-item">François Ier</li>
        <li class="list-group-item">Henri II</li>
        <li class="list-group-item">François II</li>
        <li class="list-group-item">Charles IX</li>
        <li class="list-group-item">Henri III</li>
        
      </ul>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="#">On termine par les Bourbons</a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Henri IV</li>
            <li class="list-group-item"><a [routerLink]="['/LouisXIV']">Louis XIII</a></li>
            <li class="list-group-item">Louis XIV</li>
            <li class="list-group-item">Louis XV</li>
            <li class="list-group-item">Louis XVI</li>
          </ul>
      <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </li>

  </ul>
</div>

<!-- fun fact aléatoire  -->
